html, body {
  margin: 8px;
  height: 100%;
  width: 960px;
}
html{
  scroll-behavior: smooth;

  margin:auto;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
}
body{
  background-color: rgb(66, 79, 92);
}
.mystyle{
  display: inline-block;
  padding: 100px;
  text-align: left;
  border-radius: 10px;
  background-color: yellow;
  border: 2px;
  border-style: solid;
  border-color: brown;
  width: 90%;
}
/*  BELOW IS THE TOP BAR TO BE COPIED ACROSS PAGES*/
.TopBar{
  position: relative;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}
.TopBarNav>*{
  height: max-content;
}
.TopBarNav{
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction:row ;
  width: 100%;
}
.active{
  background-color: #4acb13;
  color: black;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding:5px 20px;
  border-radius: 5px;
  border:2px solid black;
}
.not-active{
  background-color: white;
  color: black;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding:5px 20px;
  border-radius: 5px;
  border:2px solid black;
}
/*  END OF TOP BAR*/
.elementHolder{
  position: relative;
  width: 100%;
}
.Mainbox{
  position:relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}
.Mainbox>img{
  width: 100%;
}
.Mainbox>.title{
  font-size: 3.5  vw;
  position: relative;
  bottom: 80%;
  border: 1px solid black;
  color: white;
  background-color: rgb(119, 62, 36);
  padding: 5px 20px;
  text-align: center;
}



.flx-container{
  display:flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: flex-end;
  border: 2px;
  margin:0 auto;
  width: auto;
  height:auto;
  align-items: center;
  
}

.flx-container>.nav-flex{
  position:relative;
  width: fit-content;
  margin-top: 30px;
  background-color: blue;
}
.flx-container>.nav-flex>img{
  position: relative;
  object-fit: contain;
  width: auto;
  height: 50%;
  max-width: 50%;
  max-height: 100%;
}
.flx-container>.nav-flex>h2{
  font-size: 1.5vw;
  width: 50%;
  position: relative;
  top:1%;
  background: white;
  text-align: center;
}
.flx-container>.nav-flex>*{
  position: relative;
  left:25%
}




.content{
  font-size:1.5vw ;
  background-color: rgb( 50 60 70);
  position: relative;
}

.Ships{
  width: 90%;
  display:grid;

  padding-top: 20px;
  padding-left: 5%;

}
.Ships div{
  display: flex;
  position:relative;
  height: auto;
  width:auto;
  align-items:center;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;

}
.Ships div>img{
  padding-top: 3%;
  width: 100%;
  height: 100%;

}
.Ships div div{
  margin-top: 8%;
  border: solid black;

}
.ScrollButton{
  position: absolute;
  margin-top: 5%;
  border: 2px solid #922724;
  background-color: black;
  text-align: center; 
  width: 100%;
}

.Intro{
  font-size: 3vw;
}
.Background{
  position: relative;
}

  